@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

:root {
  --red: #ff5757;
  --lightred: #e57e7e;
  --darkred: #bc4141;
  --darkgray: #545454;
  --lightgray: #c7d0d8;
  --beige: #f7d29a;
  --blue: #0f9ec4;
  --yellow: #ffbd59;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
}
