.select-user {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.select-user h4 {
  font-size: 20px;
  letter-spacing: 1px;
}

.select-user button.done {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  opacity: 0.5;
}

.select-user button.done.active {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .select-user h4 {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .select-user button.done {
    position: relative;
  }
}
